p.a {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em; }

p.b {
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em; }

p.c {
  -moz-border-radius: 2em 2em;
  -webkit-border-radius: 2em 2em;
  border-radius: 2em 2em; }
