@mixin border-radius($radius: 1em, $side: false){
    @if $side != false {
        border-#{$side}-radius: $radius;
        -moz-border-radius-#{$side}: $radius;
        -webkit-border-#{$side}-radius: $radius;
    } @else {
        -moz-border-radius: $radius;
        -webkit-border-radius: $radius;
        border-radius: $radius;
    }
}

p.a{
    @include border-radius;
}

p.b{
    @include border-radius(2em);
}

p.c{
    @include border-radius(2em 2em);
}

p.d{
    @include border-radius($radius: 3em 1em 3em);
}

p.e{
    @include border-radius($radius: 3em 1em 3em, $side: lagdonesss);
}

p.f{
    @include border-radius($side: bottom);
}