@media screen and (min-width: 30em) {
  /* line 3, ../sass/device.scss */
  h1 {
    font-size: 10.25em;
  }

  /* line 4, ../sass/device.scss */
  h2 {
    font-size: 1.25em;
  }

  /* line 5, ../sass/device.scss */
  h3 {
    font-size: 1em;
  }

  /* line 7, ../sass/device.scss */
  img[data-src-400] {
    content: attr(data-src-400, url);
  }
}
@media screen and (min-width: 33em) {
  /* line 12, ../sass/device.scss */
  input {
    width: 30em;
  }

  /* line 14, ../sass/device.scss */
  img[data-src-500] {
    content: attr(data-src-500, url);
  }
}
@media screen and (min-width: 40em) {
  /* line 20, ../sass/device.scss */
  footer .wrapper {
    overflow: auto;
  }
  /* line 21, ../sass/device.scss */
  footer .meta {
    float: left;
    width: 67.1875%;
  }

  /* line 26, ../sass/device.scss */
  nav {
    margin-right: 3.125%;
    width: 29.6875%;
    float: left;
  }
  /* line 30, ../sass/device.scss */
  nav a {
    background: #1c1c1c;
    color: #ccc;
    font-size: 1.5em;
    margin: 0 0 .5em 0;
    text-align: left;
    text-transform: none;
  }
  /* line 37, ../sass/device.scss */
  nav a:hover {
    background: #c00;
    color: #fff;
  }
  /* line 43, ../sass/device.scss */
  nav .secondary a {
    font-size: 1.25em;
  }

  /* line 47, ../sass/device.scss */
  img[data-src-600] {
    content: attr(data-src-600, url);
  }
}
@media screen and (min-width: 48em) {
  /* line 52, ../sass/device.scss */
  .wrapper {
    padding: 0 1.5em;
  }

  /* line 53, ../sass/device.scss */
  h1 {
    font-size: 6em;
  }

  /* line 54, ../sass/device.scss */
  h2 {
    font-size: 1.5em;
  }

  /* line 56, ../sass/device.scss */
  article h3, article p.info {
    font-size: 2em;
  }
  /* line 57, ../sass/device.scss */
  article .like {
    font-size: 1em;
  }

  /* line 60, ../sass/device.scss */
  img[data-src-700] {
    content: attr(data-src-700, url);
  }
}
@media screen and (min-width: 56em) {
  /* line 65, ../sass/device.scss */
  h1 {
    font-size: 1.25em;
  }

  /* line 67, ../sass/device.scss */
  footer .meta {
    position: relative;
  }
  /* line 69, ../sass/device.scss */
  footer .meta p {
    margin-left: 41.8605%;
    width: 58.1395%;
  }
  /* line 72, ../sass/device.scss */
  footer .meta p:nth-child(2) {
    border-top: none;
    padding-top: 0;
  }

  /* line 80, ../sass/device.scss */
  #tags {
    position: absolute;
    margin-left: 0;
    width: 37.2105%;
  }

  /* line 86, ../sass/device.scss */
  img[data-src-800] {
    content: attr(data-src-800, url);
  }
}
